Repository fxstein/todo: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo-ai-lint, pytest

todo-ai-lint:
  name: todo.ai lint
  entry: uv run todo-ai lint
  language: system
  pass_filenames: false

pytest:
  name: pytest (unit tests only)
  entry: uv run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

docs: Add prune function analysis and design documents (task#267)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  docs/design/prune_function_analysis.md
  docs/design/prune_function_design.md
Due: todo-ai-lint

feat: Implement core prune functionality (task#267)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/cli/commands/__init__.py
  ai_todo/cli/main.py
  ai_todo/core/prune.py
  ai_todo/mcp/server.py
  ai_todo/utils/git.py
Due: todo-ai-lint

test: Add comprehensive unit tests for prune functionality (task#267)
  tests/unit/test_prune.py
Due: pytest

fix: Handle timezone comparison in prune date filtering (task#267)
  ai_todo/core/prune.py
Due: none

fix: Include TASK_METADATA in prune backup archives (task#267)
  .ai-todo/.ai-todo.log
  .ai-todo/archives/TODO_ARCHIVE_2026-01-28.md
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/core/prune.py
Due: todo-ai-lint

test: Verify TASK_METADATA preservation in prune backups (task#267)
  tests/unit/test_prune.py
Due: pytest

test: Execute prune operations and add TASK_METADATA to backups (task#267)
  .ai-todo/.ai-todo.log
  .ai-todo/archives/TODO_ARCHIVE_2026-01-28.md
  .ai-todo/archives/TODO_ARCHIVE_2026-01-28_1.md
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

test: Add comprehensive prune integration tests (task#267)
  tests/integration/test_prune_integration.py
Due: pytest

docs: Add prune command documentation and examples (task#267)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  CHANGELOG.md
  README.md
  TODO.md
  docs/README.md
  docs/examples/PRUNE_EXAMPLES.md
  docs/guides/GETTING_STARTED.md
  docs/user/MCP_SETUP.md
Due: todo-ai-lint

task: Complete #267 - Prune function implementation (task#267)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

fix: Correct backup header to reflect actual prune criteria (task#267)
  ai_todo/core/prune.py
  tests/unit/test_prune.py
Due: pytest

docs: add Linear document & task workflow rule (task#267)
  .cursor/rules/linear-document-workflow.mdc
Due: none

fix: Use OR logic for git grep patterns in archive date detection (task#267)
  ai_todo/utils/git.py
  tests/unit/test_prune.py
Due: pytest

fix: Escape regex metacharacters in task IDs for git grep (task#267)
  ai_todo/utils/git.py
  tests/unit/test_prune.py
Due: pytest

fix: Make days parameter optional to respect filter precedence (task#267)
  ai_todo/cli/commands/__init__.py
  ai_todo/cli/main.py
  ai_todo/core/prune.py
  ai_todo/mcp/server.py
  tests/unit/test_prune.py
Due: pytest

fix: Use timezone-aware datetimes for prune age comparisons (task#267)
  ai_todo/core/prune.py
  tests/unit/test_prune.py
Due: pytest

fix: Prevent duplicate subtasks in task range pruning (task#267)
  ai_todo/core/prune.py
  tests/unit/test_prune.py
Due: pytest

refactor: Remove fragile string parsing in archive backup footer (task#267)
  ai_todo/core/prune.py
Due: none

docs: Add Issue Investigation workflow to linear-document-workflow rule
  .cursor/rules/linear-document-workflow.mdc
Due: none

fix: Use numeric sorting for task IDs in archive backups (task#267)
  ai_todo/core/prune.py
  tests/unit/test_prune.py
Due: pytest

refactor: Simplify branch naming in Linear integration rule
  .cursor/rules/linear-ai-todo-integration.mdc
Due: none

refactor: Enhance closing workflow with PR creation and cleanup steps
  .cursor/rules/linear-ai-todo-integration.mdc
Due: none

docs: Specify PR body format in Linear integration rule
  .cursor/rules/linear-ai-todo-integration.mdc
Due: none

refactor: Standardize branch naming to always use userid prefix
  .cursor/rules/linear-ai-todo-integration.mdc
  .github/workflows/linear-pr-check.yml
Due: none

refactor: Always construct branch names, never use Linear's gitBranchName
  .cursor/rules/linear-ai-todo-integration.mdc
Due: none

refactor: Remove redundant step in branch construction
  .cursor/rules/linear-ai-todo-integration.mdc
Due: none

docs: Add empty trash analysis document (task#268)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .ai-todo/tamper/2026-01-29_02-15-50/forced.md
  .ai-todo/tamper/2026-01-29_02-15-50/original.md
  .markdownlint.yaml
  .pre-commit-config.yaml
  docs/design/empty_trash_analysis.md
Due: none

docs: Update empty trash analysis - change retention from 7 to 30 days (task#268)
  docs/design/empty_trash_analysis.md
Due: none

docs: Update task#268 description with 30-day retention change
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

docs: Remove legacy bash code from analysis document (task#268)
  docs/design/empty_trash_analysis.md
Due: none

docs: Resolve open questions in analysis document (task#268)
  docs/design/empty_trash_analysis.md
Due: none

docs: Add empty trash design document (task#268)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  docs/design/empty_trash_design.md
Due: todo-ai-lint

docs: Remove all backup functionality from empty trash design (task#268)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  docs/design/empty_trash_design.md
Due: todo-ai-lint

docs: Add auto empty trash after delete command (task#268)
  docs/design/empty_trash_design.md
Due: none

feat: Implement empty trash functionality (task#268)
  ai_todo/cli/commands/__init__.py
  ai_todo/cli/main.py
  ai_todo/core/empty_trash.py
  ai_todo/mcp/server.py
Due: none

test: Add comprehensive tests for empty trash (task#268)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  tests/integration/test_empty_trash_integration.py
  tests/unit/test_empty_trash.py
Due: todo-ai-lint, pytest

docs: Add empty trash documentation (task#268)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  CHANGELOG.md
  TODO.md
  docs/guides/GETTING_STARTED.md
  docs/user/MCP_SETUP.md
Due: todo-ai-lint

chore: Complete task#268 and all subtasks
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

fix: Exclude .ai-todo directory from CI markdown linting (task#268)
  .github/workflows/ci-cd.yml
Due: none

chore: Archive task#268 - Empty Trash implementation complete
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

Path conditions:
  todo-ai-lint: any of: ^TODO\.md$ and \.(md|markdown|mdown)$
  pytest: any of: ^(todo_ai/|tests/|pyproject\.toml|setup\.py) and \.py$
