Repository fxstein/todo: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo-ai-lint, pytest

todo-ai-lint:
  name: todo.ai lint
  entry: uv run todo-ai lint
  language: system
  pass_filenames: false

pytest:
  name: pytest (unit tests only)
  entry: uv run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

chore: Mark cleanup subtasks complete (task#219)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

docs: Clarify audit document - all issues resolved
  docs/analysis/POST_MIGRATION_NAMING_AUDIT.md
Due: none

docs: Add Gemini integration design doc and MCP config cleanup
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .cursor/mcp.json
  TODO.md
  ai_todo/mcp/server.py
  docs/design/GEMINI_INTEGRATION_USE_CASES.md
  release/RELEASE_LOG.log
Due: todo-ai-lint

chore: Create v3.0 release checklist and future backlog tasks
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  pyproject.toml
  uv.lock
Due: todo-ai-lint

fix: Delete task now removes subtasks by default (task#221)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/cli/commands/__init__.py
  ai_todo/mcp/server.py
Due: todo-ai-lint

test: Add tests for delete with subtasks behavior (task#221)
  ai_todo/cli/main.py
  tests/integration/test_cli.py
Due: pytest

fix: Show deleted tasks with [D] instead of [x] (task#222)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/cli/commands/__init__.py
  tests/integration/test_cli.py
Due: todo-ai-lint, pytest

refactor: Consolidate Cursor rules to single MCP-focused file (task#235)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .cursor/rules/todo-ai-interaction.mdc
  .cursorrules
  TODO.md
  ai_todo/mcp/server.py
  docs/analysis/CURSOR_RULES_REVIEW.md
Due: todo-ai-lint

fix: Prevent legacy shell script from creating Cursor rules in dev repo
  legacy/todo.ai
  legacy/todo.bash
  todo.bash
Due: none

test: Add tests for MCP server Cursor rules auto-installation
  tests/unit/test_cursor_rules.py
Due: pytest

docs: Add MCP/CLI tools audit for v3.0 cleanup (task#238.4)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  docs/analysis/MCP_CLI_AUDIT.md
Due: todo-ai-lint

feat: Implement MCP/CLI tools audit cleanup (task#238.4)
  ai_todo/cli/main.py
  ai_todo/mcp/server.py
  tests/integration/test_cli.py
  tests/integration/test_mcp_cli_parity.py
  tests/validation/test_complete_parity_audit.py
Due: pytest

infra: Remove legacy .cursorrules, fix state directory path (task#238.6)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .cursor/rules/development-workflow.mdc
  .cursorrules
  TODO.md
Due: todo-ai-lint

feat: Add archive cooldown protection for root tasks (task#205)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/cli/commands/__init__.py
  tests/integration/test_cli.py
Due: todo-ai-lint, pytest

fix: Improve archive cooldown to block entire operation and simplify message
  ai_todo/cli/commands/__init__.py
  tests/integration/test_cli.py
Due: pytest

infra: Enable Dependabot for Python and GitHub Actions
  .github/dependabot.yml
Due: none

docs: Add MCP server enable step to Quick Start
  README.md
Due: none

fix: Handle PermissionError in cursor rules init, fix PR tests CI
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .github/workflows/ci-cd.yml
  TODO.md
  ai_todo/mcp/server.py
Due: todo-ai-lint

infra: Add periodic full test suite in pre-commit (every 10th commit)
  .ai-todo/.commit-count
  .pre-commit-config.yaml
  scripts/run-full-tests-periodic.sh
Due: none

infra: Move commit counter to scripts/.run-full-tests-periodic
  .ai-todo/.commit-count
  .gitignore
  scripts/run-full-tests-periodic.sh
Due: none

docs: Add AI release summary for v3.0.0
  release/AI_RELEASE_SUMMARY.md
Due: none

release: Update release notes preview
  release/RELEASE_LOG.log
  release/RELEASE_NOTES.md
  release/RELEASE_SUMMARY.md
Due: none

feat: Add beta-to-stable graduation logic for releases (task#238.11)
  .cursor/rules/release-workflow.mdc
  release/release.sh
Due: none

docs: Update AI release summary for v3.0.0 stable (full beta cycle)
  release/AI_RELEASE_SUMMARY.md
Due: none

fix: Correct heading levels in release notes generation
  release/AI_RELEASE_SUMMARY.md
  release/RELEASE_LOG.log
  release/RELEASE_NOTES.md
  release/RELEASE_SUMMARY.md
  release/release.sh
Due: none

fix: Escape file paths in release notes to prevent markdown lint errors
  release/release.sh
Due: none

chore: Bump version to 3.0.0
  ai_todo/__init__.py
  legacy/todo.ai
  pyproject.toml
  release/RELEASE_LOG.log
  todo.bash
  uv.lock
Due: none

fix: Make archive cooldown session-based in MCP server
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/cli/commands/__init__.py
  ai_todo/mcp/server.py
  release/RELEASE_LOG.log
  tests/integration/test_cli.py
  tests/integration/test_mcp_cli_parity.py
Due: todo-ai-lint, pytest

chore: Archive completed v3.0 release tasks
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

docs: Add AI release summary for v3.0.1
  release/AI_RELEASE_SUMMARY.md
Due: none

chore: Bump version to 3.0.1
  ai_todo/__init__.py
  legacy/todo.ai
  pyproject.toml
  release/RELEASE_LOG.log
  todo.bash
  uv.lock
Due: none

feat: Add fastmcp 3.x compatibility testing in CI (task#239)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .github/workflows/ci-cd.yml
  TODO.md
  release/RELEASE_LOG.log
Due: todo-ai-lint

feat: Add task #240 for GitHub Issue #47 - malformed TODO.md bug fix
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

fix: Resolve malformed TODO.md on fresh repos with multiple subtasks (task#240)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/core/file_ops.py
  ai_todo/mcp/server.py
  tests/integration/test_compatibility.py
  tests/integration/test_migration_compat.py
  tests/unit/test_file_ops.py
  tests/unit/test_visual_standards.py
  tests/validation/compare_outputs.py
  tests/validation/test_dataset_parity.py
Due: todo-ai-lint, pytest

docs: Add AI release summary for v3.0.2
  release/AI_RELEASE_SUMMARY.md
Due: none

release: Update release log
  release/RELEASE_LOG.log
Due: none

chore: Bump version to 3.0.2
  ai_todo/__init__.py
  legacy/todo.ai
  pyproject.toml
  todo.bash
  uv.lock
Due: none

Path conditions:
  todo-ai-lint: any of: ^TODO\.md$ and \.(md|markdown|mdown)$
  pytest: any of: ^(todo_ai/|tests/|pyproject\.toml|setup\.py) and \.py$
