Repository fxstein/todo: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo-ai-lint, pytest

todo-ai-lint:
  name: todo.ai lint
  entry: uv run todo-ai lint
  language: system
  pass_filenames: false

pytest:
  name: pytest (unit tests only)
  entry: uv run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

docs: Remove Next Steps from naming analysis (task#219.1)
  docs/analysis/NAMING_UNIFICATION_ANALYSIS.md
Due: none

docs: Record naming decisions in analysis (task#219.1)
  docs/analysis/NAMING_UNIFICATION_ANALYSIS.md
Due: none

docs: Record all naming decisions (task#219.1)
  docs/analysis/NAMING_UNIFICATION_ANALYSIS.md
Due: none

docs: Add Decision 7 - rename todo_ai/ to ai_todo/ (task#219.1)
  docs/analysis/NAMING_UNIFICATION_ANALYSIS.md
Due: none

docs: Add Decision 8 - update all Cursor rules to ai-todo (task#219.1)
  docs/analysis/NAMING_UNIFICATION_ANALYSIS.md
Due: none

docs: Add Decision 9 - rename data directory .todo.ai/ to .ai-todo/ (task#219.1)
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
  docs/analysis/NAMING_UNIFICATION_ANALYSIS.md
Due: todo-ai-lint

fix: Allow 3-level task nesting (task.subtask.sub-subtask)
  .todo.ai/.todo.ai.log
  .todo.ai/.todo.ai.serial
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
  docs/analysis/NAMING_UNIFICATION_ANALYSIS.md
  todo_ai/cli/commands/__init__.py
Due: todo-ai-lint, pytest

docs: Add bug task#221 - delete task leaves orphaned subtasks
  .todo.ai/.todo.ai.log
  .todo.ai/.todo.ai.serial
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

docs: Add task#219.8 for documentation updates and bug task#222
  .todo.ai/.todo.ai.log
  .todo.ai/.todo.ai.serial
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

docs: Create naming implementation plan (task#219.3)
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
  docs/design/NAMING_IMPLEMENTATION_PLAN.md
Due: todo-ai-lint

internal: Rename todo_ai/ to ai_todo/ (task#219.1.1)
  ai_todo/__init__.py
  ai_todo/cli/__init__.py
  ai_todo/cli/commands/__init__.py
  ai_todo/cli/config_ops.py
  ai_todo/cli/main.py
  ai_todo/cli/system_ops.py
  ai_todo/cli/tamper_ops.py
  ai_todo/cli/utility_ops.py
  ai_todo/core/__init__.py
  ai_todo/core/config.py
  ai_todo/core/coordination.py
  ai_todo/core/exceptions.py
  ai_todo/core/file_ops.py
  ai_todo/core/github_client.py
  ai_todo/core/migrations.py
  ai_todo/core/task.py
  ai_todo/mcp/__init__.py
  ai_todo/mcp/__main__.py
  ai_todo/mcp/server.py
  ai_todo/parsers/__init__.py
  ai_todo/utils/__init__.py
  ai_todo/utils/git.py
  ai_todo/utils/logging.py
  pyproject.toml
Due: none

internal: Update tests and CI for ai_todo (task#219)
  .github/workflows/ci-cd.yml
  ai_todo/utils/logging.py
  tests/e2e/test_workflows.py
  tests/integration/test_archive_subtasks.py
  tests/integration/test_cli.py
  tests/integration/test_compatibility.py
  tests/integration/test_mcp_cli_parity.py
  tests/integration/test_migration_compat.py
  tests/integration/test_restore_subtasks.py
  tests/integration/test_subtask_ordering.py
  tests/unit/test_config.py
  tests/unit/test_coordination.py
  tests/unit/test_file_ops.py
  tests/unit/test_git_utils.py
  tests/unit/test_github_client.py
  tests/unit/test_logging_utils.py
  tests/unit/test_migrations.py
  tests/unit/test_reorder_command.py
  tests/unit/test_start_stop.py
  tests/unit/test_tamper_detection.py
  tests/unit/test_task.py
  tests/unit/test_visual_standards.py
  tests/validation/compare_outputs.py
  tests/validation/test_complete_parity_audit.py
  tests/validation/test_dataset_parity.py
  tests/validation/test_feature_parity.py
  tests/validation/test_show_root_python.py
Due: pytest

internal: Deprecate shell scripts (task#219)
  .github/workflows/ci-cd.yml
  install.sh
  legacy/todo.ai
  legacy/todo.bash
Due: none

internal: Update Cursor rules for ai-todo naming (task#219)
  .cursor/rules/commit-standards.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/release-workflow.mdc
  .cursor/rules/todo-ai-interaction.mdc
  .cursorrules
Due: none

feat: Implement data directory migration .todo.ai/ → .ai-todo/ (task#219.6)
  .gitignore
  ai_todo/cli/commands/__init__.py
  ai_todo/cli/config_ops.py
  ai_todo/cli/main.py
  ai_todo/cli/system_ops.py
  ai_todo/cli/utility_ops.py
  ai_todo/core/config.py
  ai_todo/core/file_ops.py
  ai_todo/core/migrations.py
  tests/unit/test_file_ops.py
  tests/unit/test_tamper_detection.py
Due: pytest

internal: Update GitHub URLs to ai-todo (task#219)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .github/ISSUE_TEMPLATE/bug_report.yml
  TODO.md
  ai_todo/cli/system_ops.py
  ai_todo/cli/utility_ops.py
  pyproject.toml
Due: todo-ai-lint

docs: Add task list vs tasks guidance to cursor rules
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .cursor/rules/todo-ai-interaction.mdc
  TODO.md
Due: todo-ai-lint

docs: Remove redundant example from task structure rule
  .cursor/rules/todo-ai-interaction.mdc
Due: none

chore: Clean up deleted tasks and orphaned subtasks
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

fix: Update tests for ai-todo naming and legacy shell path (task#219)
  .todo.ai/.todo.ai.log
  tests/conftest.py
  tests/integration/test_archive_subtasks.py
  tests/integration/test_cli.py
  tests/integration/test_data/.ai-todo/.ai-todo.log
  tests/integration/test_data/.ai-todo/.ai-todo.serial
  tests/integration/test_data/.ai-todo/config.yaml
  tests/integration/test_mcp_cli_parity.py
  tests/integration/test_migration_compat.py
  tests/integration/test_subtask_ordering.py
  tests/reset_test_data.py
  tests/validation/compare_outputs.py
  tests/validation/test_complete_parity_audit.py
  tests/validation/test_dataset_parity.py
  tests/validation/test_feature_parity.py
  tests/validation/test_show_root_shell.py
Due: pytest

docs: Add AI release summary for v3.0.0b18
  release/AI_RELEASE_SUMMARY.md
Due: none

release: Update release notes preview
  release/RELEASE_LOG.log
  release/RELEASE_NOTES.md
  release/RELEASE_SUMMARY.md
Due: none

chore: Remove accidentally re-added .todo.ai directory
  .todo.ai/.todo.ai.log
Due: none

fix: Isolate shell tests to prevent .todo.ai pollution
  .gitignore
  tests/validation/test_dataset_parity.py
  tests/validation/test_feature_parity.py
Due: pytest

fix: Only ignore legacy .todo.ai/ directory, keep .ai-todo/ tracked
  .gitignore
Due: none

docs: Simplify uvx MCP configuration (remove redundant --from)
  README.md
  docs/FAQ.md
  docs/guides/GETTING_STARTED.md
  docs/guides/INSTALLATION.md
  docs/user/MCP_SETUP.md
  docs/user/PYTHON_MIGRATION_GUIDE.md
Due: none

fix: Update release script for ai-todo naming (legacy/todo.ai, ai_todo/)
  release/release.sh
Due: none

release: Update release notes and log
  release/RELEASE_LOG.log
Due: none

fix: Update convert script for legacy/todo.ai path
  release/convert_zsh_to_bash.sh
Due: none

release: Bump version to 3.0.0b18
  ai_todo/__init__.py
  legacy/todo.ai
  pyproject.toml
  release/RELEASE_LOG.log
  release/RELEASE_NOTES.md
  uv.lock
Due: none

chore: Bump version to 3.0.0b18
  release/RELEASE_LOG.log
  release/RELEASE_NOTES.md
  todo.bash
Due: none

docs: Add post-migration naming audit (task#219.9)
  docs/analysis/POST_MIGRATION_NAMING_AUDIT.md
Due: none

chore: Add post-migration cleanup subtasks to task#219
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

fix: Update ai_todo/ source code with ai-todo naming (task#219.10)
  ai_todo/cli/main.py
  ai_todo/cli/system_ops.py
  ai_todo/cli/utility_ops.py
  ai_todo/core/file_ops.py
  ai_todo/mcp/__main__.py
  ai_todo/mcp/server.py
  tests/unit/test_visual_standards.py
Due: pytest

fix: Update test fixtures with ai-todo GitHub URLs (task#219.11)
  tests/integration/test_compatibility.py
  tests/integration/test_mcp_cli_parity.py
Due: pytest

docs: Update documentation with ai-todo command references (task#219.12)
  docs/analysis/MCP_SERVER_PARAMETERS_ANALYSIS.md
  docs/design/BETA_PRERELEASE_RECOMMENDATIONS.md
  docs/design/PYTHON_REFACTOR_ARCHITECTURE.md
  docs/design/README_REDESIGN_V3.md
  docs/design/TAMPER_DETECTION_DESIGN.md
  docs/design/UNIFIED_EXECUTABLE_ARCHITECTURE.md
  docs/guides/BETA_TESTING_GUIDE.md
  docs/guides/TAMPER_DETECTION.md
  docs/packaging/PUBLISH.md
Due: none

docs: Complete post-migration naming audit verification (task#219.13)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  docs/analysis/POST_MIGRATION_NAMING_AUDIT.md
Due: todo-ai-lint

Path conditions:
  todo-ai-lint: any of: ^TODO\.md$ and \.(md|markdown|mdown)$
  pytest: any of: ^(todo_ai/|tests/|pyproject\.toml|setup\.py) and \.py$
