Repository fxstein/todo: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo-ai-lint, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: package.lock.json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [
          types-requests,
          types-pyyaml,
        ]
        args: [--ignore-missing-imports]
        exclude: ^tests/

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        additional_dependencies: []

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: [--ignore-words-list=crate,nd,te,wil,direclty]
        exclude: ^TODO\.md$

  - repo: local
    hooks:
      - id: check-forbidden-flags
        name: check-forbidden-flags
        entry: ./scripts/check-forbidden-flags.sh
        language: system
        types: [shell, yaml]
        pass_filenames: true
        files: ^(release/|\.github/|scripts/)

      # Temporarily disabled due to pipx environment issues
      # - id: ascii-guard
      #   name: ascii-guard
      #   entry: ascii-guard lint
      #   language: system
      #   types: [markdown]
      #   pass_filenames: true
      #   files: \.(md|mdc)$

      - id: todo-ai-lint
        name: todo.ai lint
        entry: uv run todo-ai lint
        language: system
        types: [markdown]
        files: ^TODO\.md$
        pass_filenames: false

      - id: pytest
        name: pytest (unit tests only)
        entry: uv run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        # Only run pytest when Python code or test files change
        # This prevents pytest from blocking formatting-only commits
        files: ^(todo_ai/|tests/|pyproject\.toml|setup\.py)

docs: Add task#207 to fix newly discovered parity issues
  .todo.ai/.todo.ai.serial
  TODO.md
Due: todo-ai-lint

fix: Make Python CLI respect --root parameter and fix test isolation (task#207)
  .todo.ai/.todo.ai.serial
  TODO.md
  tests/integration/test_restore_subtasks.py
  tests/validation/test_dataset_parity.py
  tests/validation/test_feature_parity.py
  todo_ai/cli/main.py
Due: todo-ai-lint, pytest

Archive completed tasks #202, #206, #207
  TODO.md
Due: todo-ai-lint

release: Add AI-generated release summary for v3.0.0b16
  release/AI_RELEASE_SUMMARY.md
Due: none

release: Update release notes preview
  release/RELEASE_LOG.log
  release/RELEASE_NOTES.md
  release/RELEASE_SUMMARY.md
Due: none

chore: Bump version to 3.0.0b16
  pyproject.toml
  release/RELEASE_LOG.log
  todo.ai
  todo.bash
  todo_ai/__init__.py
  uv.lock
Due: pytest

Add release log for 3.0.0b16
  release/AI_RELEASE_SUMMARY.md
  release/RELEASE_LOG.log
Due: none

docs: Create TODO.md visual standards design document (task#200.2)
  TODO.md
  docs/design/TODO_MD_VISUAL_STANDARDS_2026_V3.md
Due: todo-ai-lint

docs: Update TODO.md with refined task#200 subtasks
  TODO.md
Due: todo-ai-lint

feat: Implement TODO.md visual standards (task#200)
  TODO.md
  tests/unit/test_file_ops.py
  todo_ai/cli/commands/__init__.py
  todo_ai/core/file_ops.py
Due: todo-ai-lint, pytest

fix: Enforce strict spacing and fix date duplication in TODO.md
  TODO.md
  todo_ai/cli/commands/__init__.py
  todo_ai/core/file_ops.py
Due: todo-ai-lint, pytest

fix: Fix restore command positioning for root tasks and subtasks (task#200)
  .todo.ai/.todo.ai.serial
  TODO.md
  todo_ai/cli/commands/__init__.py
  todo_ai/core/file_ops.py
Due: todo-ai-lint, pytest

docs: Add test subtasks for visual standards validation (task#200)
  TODO.md
Due: todo-ai-lint

docs: Simplify task#200 notes to concise summary
  TODO.md
Due: todo-ai-lint

docs: Complete task#200.6 - Document TODO.md visual standards
  README.md
  TODO.md
  docs/guides/GETTING_STARTED.md
  tests/unit/test_visual_standards.py
Due: todo-ai-lint, pytest

docs: Complete task#200 - TODO.md visual standards implementation
  TODO.md
Due: todo-ai-lint

fix: Remove outdated 'Remaining' note from completed task#200
  TODO.md
Due: todo-ai-lint

feat: Add task#210 for TODO.md tamper detection (task#210)
  TODO.md
Due: todo-ai-lint

chore: Update task serial for task#210
  .todo.ai/.todo.ai.serial
Due: none

chore: Archive completed task#200 (visual standards)
  TODO.md
Due: todo-ai-lint

docs: Complete task#210.1 - Analyze TODO.md tamper detection
  TODO.md
  docs/analysis/TODO_TAMPER_DETECTION_ANALYSIS.md
Due: todo-ai-lint

fix: Resolve orphaned subtasks by restoring and re-archiving parent tasks
  TODO.md
Due: todo-ai-lint

feat: Add task#211 to fix subtask alphabetical sorting bug
  .todo.ai/.todo.ai.serial
  TODO.md
Due: todo-ai-lint

fix: Fix subtask sorting to use numerical comparison instead of alphabetical (task#211)
  TODO.md
  tests/unit/test_reorder_command.py
  todo_ai/cli/commands/__init__.py
  todo_ai/core/file_ops.py
Due: todo-ai-lint, pytest

Archive completed tasks #211, #125, #126, #161
  TODO.md
Due: todo-ai-lint

docs: Complete research and design for tamper detection (task#210.2, task#210.3)
  .todo.ai/.todo.ai.log
  TODO.md
  docs/analysis/TODO_TAMPER_DETECTION_ANALYSIS.md
  docs/design/TAMPER_DETECTION_DESIGN.md
Due: todo-ai-lint

feat: Implement Tamper Detection System (task#210.4, task#210.5)
  .todo.ai/.todo.ai.log
  .todo.ai/checksum
  .todo.ai/shadow/TODO.md
  .todo.ai/tamper_mode
  tests/unit/test_tamper_detection.py
  todo_ai/cli/main.py
  todo_ai/cli/tamper_ops.py
  todo_ai/core/exceptions.py
  todo_ai/core/file_ops.py
  todo_ai/mcp/server.py
Due: pytest

refactor: Move tamper detection state to .todo.ai/state/
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  .todo.ai/state/tamper_mode
  docs/design/TAMPER_DETECTION_DESIGN.md
  tests/unit/test_tamper_detection.py
  todo_ai/core/file_ops.py
Due: pytest

chore: Configure IDE read-only mode and finalize state directory refactor
  .todo.ai/checksum
  .todo.ai/config.yaml
  .todo.ai/shadow/TODO.md
  .todo.ai/tamper_mode
  .vscode/settings.json
Due: none

chore: Protect integrity files from manual edits in VS Code
  .vscode/settings.json
Due: none

feat: Implement dual logging strategy (shared + local audit log)
  .gitignore
  todo_ai/core/file_ops.py
Due: pytest

docs: Document Tamper Detection feature (Task #210.6)
  docs/development/DEVELOPMENT_GUIDELINES.md
  docs/guides/GETTING_STARTED.md
  docs/guides/TAMPER_DETECTION.md
Due: none

docs: Tone down tamper detection description
  docs/guides/TAMPER_DETECTION.md
Due: none

docs: Clarify tamper detection is for integrity not security
  docs/guides/TAMPER_DETECTION.md
Due: none

docs: Emphasize tamper detection is optional and passive by default
  docs/guides/TAMPER_DETECTION.md
Due: none

docs: Remove reference to todo-ai edit command
  docs/guides/TAMPER_DETECTION.md
Due: none

docs: Tone down tamper detection description in dev guidelines
  docs/development/DEVELOPMENT_GUIDELINES.md
Due: none

feat: Complete Task #210 - Tamper Detection System
  .todo.ai/.todo.ai.log
  .todo.ai/.todo.ai.serial
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  .todo.ai/state/tamper_mode
  .todo.ai/tamper/2026-01-25_23-48-26/forced.md
  .todo.ai/tamper/2026-01-25_23-48-26/original.md
  .todo.ai/tamper/2026-01-26_00-28-34/forced.md
  .todo.ai/tamper/2026-01-26_00-28-34/original.md
  .todo.ai/tamper/2026-01-26_00-29-15/forced.md
  .todo.ai/tamper/2026-01-26_00-29-15/original.md
  todo_ai/core/file_ops.py
Due: pytest

Archive completed task #210 (Tamper Detection System)
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  .todo.ai/tamper/2026-01-26_00-30-42/forced.md
  .todo.ai/tamper/2026-01-26_00-30-42/original.md
  .todo.ai/tamper/2026-01-26_00-30-54/forced.md
  .todo.ai/tamper/2026-01-26_00-30-54/original.md
Due: none

chore: Consolidate and update Cursor rules for MCP-first workflow (Task #212)
  .cursor/rules/bug-review-workflow.mdc
  .cursor/rules/commit-prefixes.mdc
  .cursor/rules/commit-standards.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/installation-migration-workflow.mdc
  .cursor/rules/release-workflow.mdc
  .cursor/rules/releases.mdc
  .cursor/rules/repository-context.mdc
  .cursor/rules/todo-ai-interaction.mdc
  .cursor/rules/todo.ai-beta-releases.mdc
  .cursor/rules/todo.ai-bug-reporting.mdc
  .cursor/rules/todo.ai-task-management.mdc
  .cursor/rules/todo.ai-task-notes.mdc
  .cursor/rules/zsh-first-development.mdc
  docs/analysis/CURSOR_RULES_AUDIT.md
Due: none
