Repository fxstein/todo: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo-ai-lint, pytest

todo-ai-lint:
  name: todo.ai lint
  entry: uv run todo-ai lint
  language: system
  pass_filenames: false

pytest:
  name: pytest (unit tests only)
  entry: uv run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

docs: Archive completed task#196
  TODO.md
Due: todo-ai-lint

docs: Add task#202 for Python 3.14 upgrade and dependency updates
  .todo.ai/.todo.ai.serial
  TODO.md
Due: todo-ai-lint

docs: Merge task#193 into task#201
  TODO.md
Due: todo-ai-lint

feat: Design 'start' command architecture (task#201)
  TODO.md
  docs/design/START_COMMAND.md
Due: todo-ai-lint

docs: Update 'start' command design with MCP Prompts (task#201)
  TODO.md
  docs/design/START_COMMAND.md
Due: todo-ai-lint

docs: Update 'start' command design with dedicated status tool (task#201)
  TODO.md
  docs/design/START_COMMAND.md
Due: todo-ai-lint

docs: Add 'stop' command to design and task list (task#201)
  TODO.md
  docs/design/START_COMMAND.md
Due: todo-ai-lint

feat: Implement 'start' and 'stop' commands with MCP support (task#201)
  TODO.md
  tests/unit/test_start_stop.py
  todo_ai/cli/commands/__init__.py
  todo_ai/cli/main.py
  todo_ai/core/task.py
  todo_ai/mcp/server.py
Due: todo-ai-lint, pytest

docs: Document 'start' and 'stop' commands (task#201)
  README.md
  TODO.md
  docs/guides/GETTING_STARTED.md
Due: todo-ai-lint

docs: Clarify that 'stop' command is optional (task#201)
  README.md
  TODO.md
  docs/guides/GETTING_STARTED.md
Due: todo-ai-lint

docs: Add task#203 for README.md redesign (v3.0 migration)
  .todo.ai/.todo.ai.serial
  TODO.md
Due: todo-ai-lint

docs: Archive completed task#201
  TODO.md
Due: todo-ai-lint

chore: Start task#202 (Python 3.14 upgrade)
  TODO.md
Due: todo-ai-lint

infra: Upgrade to Python 3.14 and update dependencies (task#202)
  .github/workflows/ci-cd.yml
  README.md
  TODO.md
  docs/development/DEVELOPMENT_GUIDELINES.md
  docs/development/SETUP.md
  docs/user/PYTHON_MIGRATION_GUIDE.md
  pyproject.toml
  uv.lock
Due: todo-ai-lint

docs: Archive completed task#202
  TODO.md
Due: todo-ai-lint

infra: Restore legacy Python support (3.10-3.13) while keeping 3.14 preferred (task#202)
  .github/workflows/ci-cd.yml
  README.md
  TODO.md
  docs/development/DEVELOPMENT_GUIDELINES.md
  docs/development/SETUP.md
  docs/user/PYTHON_MIGRATION_GUIDE.md
  pyproject.toml
  uv.lock
Due: todo-ai-lint

docs: Add task#204 to fix restore subtasks bug
  .todo.ai/.todo.ai.serial
  TODO.md
Due: todo-ai-lint

docs: Add requirement for idempotent/self-healing restore (task#204)
  TODO.md
Due: todo-ai-lint

chore: Start task#204 (Fix restore subtasks bug)
  TODO.md
Due: todo-ai-lint

fix: Restore subtasks recursively and idempotently (task#204)
  TODO.md
  tests/integration/test_restore_subtasks.py
  todo_ai/cli/commands/__init__.py
Due: todo-ai-lint, pytest

chore: Restore task#202 to pending state
  TODO.md
Due: todo-ai-lint

style: Reorder subtasks for task#202
  TODO.md
Due: todo-ai-lint

chore: Reopen task#204 to fix subtask ordering bug
  TODO.md
Due: todo-ai-lint

chore: Start task#204 (Fix restore ordering bug)
  TODO.md
Due: todo-ai-lint

fix: Restore subtasks in reverse-chronological order (task#204)
  TODO.md
  todo_ai/cli/commands/__init__.py
Due: todo-ai-lint, pytest

chore: Reopen task#204 to fix restore behavior (preserve completion status)
  TODO.md
Due: todo-ai-lint

fix: Preserve completion status when restoring tasks (task#204)
  TODO.md
  tests/integration/test_restore_subtasks.py
  tests/unit/test_task.py
  todo_ai/core/task.py
Due: todo-ai-lint, pytest

style: Reorder subtasks for task#204
  TODO.md
Due: todo-ai-lint

infra: Use direct module execution for pre-commit lint hook
  .pre-commit-config.yaml
Due: none

docs: Add commentary to pre-commit config explaining local execution
  .pre-commit-config.yaml
Due: none

docs: Mark completed subtasks for task#204
  TODO.md
Due: todo-ai-lint

docs: Add task#205 to prevent premature task archiving
  .todo.ai/.todo.ai.serial
  TODO.md
Due: todo-ai-lint

docs: Archive completed task#204
  TODO.md
Due: todo-ai-lint

docs: Complete task#202 (Python 3.14 upgrade with legacy support)
  TODO.md
Due: todo-ai-lint

fix: Populate completed_at for archived tasks in FileOps (task#204)
  todo_ai/cli/commands/__init__.py
  todo_ai/core/file_ops.py
Due: pytest

docs: Add task#206 to fix shell script test failures
  .todo.ai/.todo.ai.serial
  TODO.md
Due: todo-ai-lint

docs: Complete investigation subtasks for task#206
  TODO.md
Due: todo-ai-lint

fix: Suppress cursor rules initialization and mode display during tests (task#206)
  TODO.md
  tests/validation/test_dataset_parity.py
  tests/validation/test_feature_parity.py
  todo.ai
Due: todo-ai-lint, pytest

docs: Complete task#206 (shell script test failures fix)
  TODO.md
Due: todo-ai-lint

fix: Clear TODO_FILE environment variable in parity tests (task#206)
  tests/validation/test_dataset_parity.py
  tests/validation/test_feature_parity.py
Due: pytest

Path conditions:
  todo-ai-lint: any of: ^TODO\.md$ and \.(md|markdown|mdown)$
  pytest: any of: ^(todo_ai/|tests/|pyproject\.toml|setup\.py) and \.py$
