Repository fxstein/todo: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo-ai-lint, pytest

todo-ai-lint:
  name: todo.ai lint
  entry: uv run todo-ai lint
  language: system
  pass_filenames: false

pytest:
  name: pytest (unit tests only)
  entry: uv run pytest tests/unit
  language: system
  pass_filenames: false
  always_run: false

fix: Update version comment to 3.0.2 in shell scripts
  legacy/todo.ai
  todo.bash
Due: none

feat: Add task #241 for self-update feature via uv with MCP server shutdown
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

feat: Add task #242 to investigate archive/delete task ordering bug
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

fix: Resolve archive/delete task ordering bug - parent before subtasks (task#242)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/core/file_ops.py
  tests/integration/test_archive_subtasks.py
  tests/integration/test_delete_ordering.py
Due: todo-ai-lint, pytest

feat: Implement self-update feature with MCP and CLI support (task#241)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/cli/main.py
  ai_todo/core/updater.py
  ai_todo/mcp/server.py
  tests/unit/test_updater.py
Due: todo-ai-lint, pytest

feat: Add version pinning and constraints to self-update feature (task#245)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/cli/main.py
  ai_todo/core/updater.py
  ai_todo/core/version_constraints.py
  ai_todo/mcp/server.py
  tests/unit/test_version_constraints.py
Due: todo-ai-lint, pytest

test: Add unit test for archived task reordering (task#246)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .ai-todo/tamper/2026-01-27_14-57-36/forced.md
  .ai-todo/tamper/2026-01-27_14-57-36/original.md
  tests/unit/test_reorder_command.py
Due: pytest

chore: Archive completed tasks #239, #240, #241, #242, #245, #246
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

fix: Restore GitHub task number coordination posting (task#247)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .ai-todo/tamper/2026-01-27_15-24-47/forced.md
  .ai-todo/tamper/2026-01-27_15-24-47/original.md
  ai_todo/core/coordination.py
  ai_todo/core/github_client.py
  tests/unit/test_coordination.py
  tests/unit/test_github_client.py
Due: pytest

feat: Add restart MCP tool for dev mode quick-reload (task#250)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .cursor/rules/development-workflow.mdc
  TODO.md
  ai_todo/mcp/server.py
Due: todo-ai-lint

fix: Windows CI failure in test_default_path
  tests/unit/test_version_constraints.py
Due: pytest

feat: Add tasks for API terminology standardization and legacy freeze (task#253, task#254)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/core/updater.py
Due: todo-ai-lint

feat!: Implement API terminology standardization (task#253)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  CHANGELOG.md
  TODO.md
  ai_todo/cli/main.py
  ai_todo/mcp/server.py
  docs/api-terminology-analysis.md
  tests/e2e/test_workflows.py
  tests/integration/test_cli.py
  tests/integration/test_mcp_cli_parity.py
  tests/integration/test_migration_compat.py
  tests/validation/test_complete_parity_audit.py
  tests/validation/test_dataset_parity.py
  tests/validation/test_feature_parity.py
  tests/validation/test_show_root_shell.py
Due: todo-ai-lint, pytest

chore: Freeze legacy shell scripts and remove parity tests (task#254)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  legacy/todo.ai
  tests/TEST_PLAN.md
  tests/validation/compare_outputs.py
  tests/validation/test_dataset_parity.py
  tests/validation/test_feature_parity.py
  tests/validation/test_show_root_shell.py
  todo.bash
Due: todo-ai-lint, pytest

feat: Implement batch operations for task state commands (task#261)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .cursor/rules/development-workflow.mdc
  TODO.md
  ai_todo/cli/commands/__init__.py
  ai_todo/cli/main.py
  ai_todo/mcp/server.py
  docs/batch-operations-design.md
  tests/integration/test_mcp_cli_parity.py
Due: todo-ai-lint, pytest

feat: Implement .cursorignore security for ai-todo state files (task#260)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .cursorignore
  TODO.md
  docs/README.md
  docs/cursorignore-design.md
  docs/guides/SECURITY_BEST_PRACTICES.md
Due: todo-ai-lint

chore: Archive task#260, task#261 and clean up task#51 subtasks
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

feat: Add MCP resources for task data and begin metadata design (task#262, task#263)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/mcp/server.py
  docs/mcp-resources-design.md
  docs/task-metadata-design.md
  docs/user/MCP_SETUP.md
  tests/unit/test_mcp_resources.py
Due: todo-ai-lint, pytest

feat: Implement task metadata persistence for timestamps (task#263)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/core/file_ops.py
  tests/unit/test_file_ops.py
Due: todo-ai-lint, pytest

chore: Archive task#262, task#263 (MCP resources and metadata persistence)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

fix: Prevent TASK_METADATA from being captured as interleaved content
  ai_todo/core/file_ops.py
Due: none

docs: Add AI release summary for v4.0.0
  release/AI_RELEASE_SUMMARY.md
Due: none

release: Prepare v4.0.0b1 release notes
  release/AI_RELEASE_SUMMARY.md
  release/RELEASE_LOG.log
  release/RELEASE_NOTES.md
  release/RELEASE_SUMMARY.md
Due: none

chore: Bump version to 4.0.0b1
  ai_todo/__init__.py
  legacy/todo.ai
  pyproject.toml
  release/RELEASE_LOG.log
  release/RELEASE_SUMMARY.md
  todo.bash
  uv.lock
Due: none

docs: Update CHANGELOG.md for v4.0.0b1 release
  CHANGELOG.md
Due: none

fix: Derive coordination.enabled from type instead of non-existent key
  ai_todo/mcp/server.py
  tests/unit/test_mcp_resources.py
Due: pytest

feat: Add task#264 for GitHub Issue #49 - archived tasks reappearing bug
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

fix: Prevent orphan subtasks from leaking into Tasks section (task#264)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/core/file_ops.py
  tests/integration/test_archive_subtasks.py
Due: todo-ai-lint, pytest

internal: Archive completed task#264 (GitHub Issue #49 fix)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

docs: Add AI release summary for v4.0.0b2
  release/AI_RELEASE_SUMMARY.md
Due: none

docs: Prepare release notes for v4.0.0b2
  release/RELEASE_LOG.log
  release/RELEASE_NOTES.md
  release/RELEASE_SUMMARY.md
Due: none

chore: Update release log for v4.0.0b2
  release/RELEASE_LOG.log
Due: none

fix: Correct markdown heading levels in release notes generation
  ai_todo/__init__.py
  legacy/todo.ai
  pyproject.toml
  release/RELEASE_LOG.log
  release/RELEASE_NOTES.md
  release/release.sh
  todo.bash
  uv.lock
Due: none

feat: Add Linear–ai-todo integration Cursor rule
  .cursor/rules/linear-ai-todo-integration.mdc
Due: none

feat: Add commit guideline to ai-todo Cursor rule (task#265)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  ai_todo/mcp/server.py
  docs/design/COMMIT_GUIDELINE_CURSOR_RULE_265.md
  tests/unit/test_cursor_rules.py
Due: todo-ai-lint, pytest

docs: Mark 265.1 complete and fix Linear rule tool names (task#265)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .cursor/rules/linear-ai-todo-integration.mdc
  TODO.md
Due: todo-ai-lint

docs: Add Linear integration assessment (task#266)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  docs/linear_integration_assessment.md
Due: todo-ai-lint

docs: Linear integration design and assessment (task#266)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  docs/linear_integration_assessment.md
  docs/linear_integration_design.md
Due: todo-ai-lint

feat: Linear integration implementation and review fixes (task#266)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .cursor/rules/linear-ai-todo-integration.mdc
  .github/workflows/linear-pr-check.yml
  CONTRIBUTING.md
  TODO.md
  docs/linear_integration_review_266.md
Due: todo-ai-lint

fix: Correct username logic for Linear integration (task#266)
  .cursor/rules/linear-ai-todo-integration.mdc
  .github/workflows/linear-pr-check.yml
  CONTRIBUTING.md
Due: none

Path conditions:
  todo-ai-lint: any of: ^TODO\.md$ and \.(md|markdown|mdown)$
  pytest: any of: ^(todo_ai/|tests/|pyproject\.toml|setup\.py) and \.py$
