Repository fxstein/todo: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo-ai-lint, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: package.lock.json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [
          types-requests,
          types-pyyaml,
        ]
        args: [--ignore-missing-imports]
        exclude: ^tests/

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        additional_dependencies: []

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: [--ignore-words-list=crate,nd,te,wil,direclty]
        exclude: ^TODO\.md$

  - repo: local
    hooks:
      - id: check-forbidden-flags
        name: check-forbidden-flags
        entry: ./scripts/check-forbidden-flags.sh
        language: system
        types: [shell, yaml]
        pass_filenames: true
        files: ^(release/|\.github/|scripts/)

      # Temporarily disabled due to pipx environment issues
      # - id: ascii-guard
      #   name: ascii-guard
      #   entry: ascii-guard lint
      #   language: system
      #   types: [markdown]
      #   pass_filenames: true
      #   files: \.(md|mdc)$

      - id: todo-ai-lint
        name: todo.ai lint
        entry: uv run todo-ai lint
        language: system
        types: [markdown]
        files: ^TODO\.md$
        pass_filenames: false

      - id: pytest
        name: pytest (unit tests only)
        entry: uv run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        # Only run pytest when Python code or test files change
        # This prevents pytest from blocking formatting-only commits
        files: ^(todo_ai/|tests/|pyproject\.toml|setup\.py)

chore: Complete Task #212 and add .cursorignore
  .cursorignore
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  .todo.ai/tamper/2026-01-26_01-15-17/forced.md
  .todo.ai/tamper/2026-01-26_01-15-17/original.md
Due: none

chore: Archive completed task #212
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  .todo.ai/tamper/2026-01-26_01-16-57/forced.md
  .todo.ai/tamper/2026-01-26_01-16-57/original.md
Due: none

docs: Add analysis for whitespace conflict and track Task #213
  .todo.ai/.todo.ai.log
  .todo.ai/.todo.ai.serial
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  .todo.ai/tamper/2026-01-26_01-28-38/forced.md
  .todo.ai/tamper/2026-01-26_01-28-38/original.md
  docs/analysis/TODO_WHITESPACE_CONFLICT_ANALYSIS.md
Due: none

fix: Resolve whitespace conflict between todo.ai and pre-commit hooks (Task #213)
  .pre-commit-config.yaml
  .todo.ai/.todo.ai.log
  .todo.ai/.todo.ai.serial
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  .todo.ai/tamper/2026-01-26_01-32-19/forced.md
  .todo.ai/tamper/2026-01-26_01-32-19/original.md
  todo_ai/core/file_ops.py
Due: pytest

fix: Restore Task #213 and verify whitespace fix
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  .todo.ai/tamper/2026-01-26_01-35-18/forced.md
  .todo.ai/tamper/2026-01-26_01-35-18/original.md
  .todo.ai/tamper/2026-01-26_01-37-15/forced.md
  .todo.ai/tamper/2026-01-26_01-37-15/original.md
  todo_ai/core/file_ops.py
Due: pytest

chore: Update Task #213 subtasks to completed
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

chore: Delete Task #215 (Jokes collection)
  .todo.ai/.todo.ai.log
  .todo.ai/.todo.ai.serial
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

chore: Complete Task #213 (Whitespace conflict resolution)
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

chore: Archive Task #213 (Whitespace conflict resolution)
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

fix: Restore file structure preservation logic (Task #216)
  .todo.ai/.todo.ai.log
  .todo.ai/.todo.ai.serial
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
  tests/unit/test_file_ops.py
  tests/unit/test_visual_standards.py
  todo_ai/core/file_ops.py
Due: todo-ai-lint, pytest

test: Update parity tests to ignore header/footer differences (Task #217)
  .todo.ai/.todo.ai.log
  .todo.ai/.todo.ai.serial
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
  tests/validation/test_dataset_parity.py
Due: todo-ai-lint, pytest

fix: Normalize date and section header differences in parity tests (task#217)
  tests/validation/test_dataset_parity.py
Due: pytest

fix: Add explicit UTF-8 encoding to read_text() calls for Windows (task#217)
  tests/integration/test_cli.py
  tests/integration/test_migration_compat.py
  tests/unit/test_file_ops.py
  tests/unit/test_forbidden_flags.py
  tests/unit/test_reorder_command.py
  tests/unit/test_tamper_detection.py
  tests/unit/test_visual_standards.py
  tests/validation/test_dataset_parity.py
Due: pytest

docs: Add AI release summary for v3.0.0b17
  release/AI_RELEASE_SUMMARY.md
Due: none

release: Update release notes preview
  release/RELEASE_LOG.log
  release/RELEASE_NOTES.md
  release/RELEASE_SUMMARY.md
Due: none

fix: Skip cursor rules auto-generation in development repository (task#218)
  docs/analysis/CURSOR_RULES_AUTO_GENERATION_INVESTIGATION.md
  todo.ai
Due: none

docs: Simplify release-workflow.mdc Cursor rule (task#218)
  .cursor/rules/release-workflow.mdc
Due: none

docs: Simplify todo-ai-interaction.mdc Cursor rule (task#218)
  .cursor/rules/todo-ai-interaction.mdc
Due: none

docs: Simplify cursor-rules-guidelines.mdc (task#218)
  .cursor/rules/cursor-rules-guidelines.mdc
Due: none

chore: Update TODO.md state
  .todo.ai/.todo.ai.log
  .todo.ai/.todo.ai.serial
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

release: Update release log
  release/RELEASE_LOG.log
Due: none

release: v3.0.0b17
  pyproject.toml
  release/RELEASE_LOG.log
  todo.ai
  todo.bash
  todo_ai/__init__.py
  uv.lock
Due: pytest

Add release log for 3.0.0b17
  release/RELEASE_LOG.log
Due: none

chore: Archive completed task#218 (Simplify Cursor rules)
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

chore: Archive completed tasks #216, #217
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

docs: Create README redesign design document (task#203.1)
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
  docs/design/README_REDESIGN_V3.md
Due: todo-ai-lint

chore: Start task#203.1 and add design document note
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

chore: Add summary note to task#203
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

docs: Update README redesign with design decisions (task#203.1)
  docs/design/README_REDESIGN_V3.md
Due: none

docs: Remove Next Steps section from README redesign doc (task#203.1)
  docs/design/README_REDESIGN_V3.md
Due: none

docs: Update task#203 subtasks for implementation workflow
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

docs: Add isolation requirement note to task#203.4
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

docs: Implement README redesign with MCP-first approach (task#203)
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  README.md
  TODO.md
  docs/FAQ.md
  docs/user/MCP_SETUP.md
Due: todo-ai-lint

docs: Add subtasks for referenced documentation updates (task#203)
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

docs: Update referenced documentation for MCP-first approach (task#203)
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
  docs/README.md
  docs/guides/GETTING_STARTED.md
  docs/user/PYTHON_MIGRATION_GUIDE.md
Due: todo-ai-lint

docs: Add task#219 for unified naming decision (ai-todo)
  .todo.ai/.todo.ai.log
  .todo.ai/.todo.ai.serial
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

chore: Start task#219.1 (naming analysis)
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
Due: todo-ai-lint

docs: Create naming unification analysis (task#219.1)
  .todo.ai/.todo.ai.log
  .todo.ai/state/TODO.md
  .todo.ai/state/checksum
  TODO.md
  docs/analysis/NAMING_UNIFICATION_ANALYSIS.md
Due: todo-ai-lint
