Repository fxstein/todo: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo-ai-lint, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: package.lock.json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [
          types-requests,
          types-pyyaml,
        ]
        args: [--ignore-missing-imports]
        exclude: ^tests/

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        additional_dependencies: []

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: [--ignore-words-list=crate,nd,te,wil,direclty]
        exclude: ^TODO\.md$

  - repo: local
    hooks:
      - id: check-forbidden-flags
        name: check-forbidden-flags
        entry: ./scripts/check-forbidden-flags.sh
        language: system
        types: [shell, yaml]
        pass_filenames: true
        files: ^(release/|\.github/|scripts/)

      # Temporarily disabled due to pipx environment issues
      # - id: ascii-guard
      #   name: ascii-guard
      #   entry: ascii-guard lint
      #   language: system
      #   types: [markdown]
      #   pass_filenames: true
      #   files: \.(md|mdc)$

      - id: todo-ai-lint
        name: todo.ai lint
        entry: uv run todo-ai lint
        language: system
        types: [markdown]
        files: ^TODO\.md$
        pass_filenames: false

      - id: pytest
        name: pytest (unit tests only)
        entry: uv run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        # Only run pytest when Python code or test files change
        # This prevents pytest from blocking formatting-only commits
        files: ^(todo_ai/|tests/|pyproject\.toml|setup\.py)

docs: Align summary paragraph count with prompt template (task#270)
  .cursor/skills/release-workflow/SKILL.md
Due: none

docs: Add release summary for v4.0.0b3 (task#270)
  release/AI_RELEASE_SUMMARY.md
Due: none

release: Update release notes preview
  release/RELEASE_LOG.log
  release/RELEASE_NOTES.md
  release/RELEASE_SUMMARY.md
Due: none

feat: Commit AI summary before prepare & add release notes link (task#270)
  .cursor/skills/release-workflow/SKILL.md
Due: none

release: Add AI-generated summary for v4.0.0b3
  release/AI_RELEASE_SUMMARY.md
Due: none

feat: Filter chore commits from release notes (task#270)
  release/release.sh
Due: none

release: Abort failed 4.0.0b3 release for retry
  release/AI_RELEASE_SUMMARY.md
  release/RELEASE_LOG.log
Due: none

Update release log for 4.0.0b3 abort
  release/RELEASE_LOG.log
Due: none

fix: Set Linear issue to Todo on release abort (task#270)
  .cursor/skills/release-workflow/SKILL.md
Due: none

fix: Use checksums to detect pre-commit auto-fixes (task#270)
  release/release.sh
Due: none

release: Add AI-generated summary for v4.0.0b3
  release/AI_RELEASE_SUMMARY.md
  release/RELEASE_NOTES.md
  todo.bash
Due: none

release: Update release notes preview
  release/RELEASE_LOG.log
  release/RELEASE_NOTES.md
Due: none

release: Add corrected AI-generated summary for v4.0.0b3 (user-facing only)
  release/AI_RELEASE_SUMMARY.md
Due: none

release: Remove old release notes from aborted release
  release/RELEASE_NOTES.md
Due: none

fix: Ensure release notes link stays clickable in Linear (task#270)
  .cursor/skills/release-workflow/SKILL.md
Due: none

infra: Refactor release workflow to Cursor Skill (task#270) (#74)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .cursor/rules/release-workflow.mdc
  .cursor/skills/release-workflow/SKILL.md
  TODO.md
  docs/design/release_skill_discovery.md
  release/AI_RELEASE_SUMMARY.md
  release/RELEASE_LOG.log
  release/RELEASE_NOTES.md
  release/RELEASE_SUMMARY.md
  release/convert_zsh_to_bash.sh
  release/release.sh
  todo.bash
Due: todo-ai-lint

fix: Strengthen Linear branch naming rule to prevent displayName usage (task#271)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .cursor/rules/linear-ai-todo-integration.mdc
  TODO.md
  docs/design/branch_naming_fix_verification.md
  docs/design/branch_naming_issue_analysis.md
Due: todo-ai-lint

fix: Add pre-branch checks to prevent merge conflicts (task#271)
  .cursor/rules/linear-ai-todo-integration.mdc
Due: none

infra: Incorrect branch names for linear issue (#78)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .cursor/rules/linear-ai-todo-integration.mdc
  TODO.md
  docs/design/branch_naming_fix_verification.md
  docs/design/branch_naming_issue_analysis.md
Due: todo-ai-lint

feat: Add branch-cleanup skill for automated branch maintenance
  .cursor/skills/branch-cleanup/SKILL.md
Due: none

feat: Add branch-cleanup skill for post-merge cleanup (task#271)
  .cursor/skills/branch-cleanup/SKILL.md
Due: none

infra: Incorrect branch names for linear issue (#79)
  .cursor/skills/branch-cleanup/SKILL.md
Due: none

docs: Create ascii-guard integration design document (task#272.1)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  docs/design/ascii-guard-integration.md
Due: todo-ai-lint

docs: Simplify ascii-guard integration design (task#272.1)
  docs/design/ascii-guard-integration.md
Due: none

infra: Integrate ascii-guard into pre-commit and CI/CD (task#272.3, task#272.4)
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

infra: Add ascii-guard tests and fix documentation (task#272.5, task#272.6)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
  docs/archive/RELEASE_NUMBERING_MAPPING.md
  docs/design/BUG_REPORTING_DESIGN.md
  docs/design/GIT_HOOKS_DESIGN.md
  tests/validation/test_ascii_art_validation.py
  uv.lock
Due: todo-ai-lint, pytest

docs: Document ascii-guard in CONTRIBUTING.md (task#272.7)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  CONTRIBUTING.md
  TODO.md
Due: todo-ai-lint

infra: Complete ascii-guard integration (task#272)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

fix: Correct ascii-guard CI/CD glob pattern (task#272.4)
  .github/workflows/ci-cd.yml
Due: none

infra: Properly configure ascii-guard for entire repo (task#272.4)
  .ascii-guard.toml
  .github/workflows/ci-cd.yml
Due: none

docs: ascii-guard linting (#80)
  .ai-todo/.ai-todo.log
  .ai-todo/.ai-todo.serial
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  .ascii-guard.toml
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  TODO.md
  docs/archive/RELEASE_NUMBERING_MAPPING.md
  docs/design/BUG_REPORTING_DESIGN.md
  docs/design/GIT_HOOKS_DESIGN.md
  docs/design/ascii-guard-integration.md
  pyproject.toml
  tests/validation/test_ascii_art_validation.py
  uv.lock
Due: todo-ai-lint, pytest

infra: Archive completed tasks (task#270, task#271, task#272)
  .ai-todo/.ai-todo.log
  .ai-todo/state/TODO.md
  .ai-todo/state/checksum
  TODO.md
Due: todo-ai-lint

fix: Add UTF-8 encoding for ascii-guard on Windows (task#272.5)
  .github/workflows/ci-cd.yml
  tests/validation/test_ascii_art_validation.py
Due: pytest

refactor: Remove redundant ascii-guard validation tests (task#272.5)
  tests/validation/test_ascii_art_validation.py
Due: pytest
